body {
    background-color: $color-bg;
    border-radius: 2rem;
    padding: 0 1rem;
}

header {
    padding-top: 3vh;
    margin-bottom: 3vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// NAV BAR

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 10vh;
    padding: 0 2rem;

    &__item {
        list-style: none;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__link:visited,
    &__link {
        color: $color-font-primary;
        border-bottom: 2px solid $color-bg;
        text-decoration: none;
        font-size: 1.2rem;
        font-family: 'Roboto Mono', monospace;
        padding-bottom: .5rem;
        margin-right: 2rem;
        transition: .2s all;
    }

    &__link:hover,
    &__link:active {
        border-bottom: 2px solid $color-primary;
    }
}

.resume {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    margin-right: 0;
}

// HERO SECTION

.hero {

    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;

    &__title {
        font-size: 5rem;

        &--name {
            color: $color-primary;
        }
    }

    &__sub-title {
        font-size: 5rem;
        margin-bottom: 5rem;
    }

    &__dev {
        font-family: 'Dancing Script', cursive;
        font-size: 8rem;
        border-bottom: 4px solid $color-primary;
        padding-right: 25vw;

        @media only screen and (max-width: $breakpoint2) {
            padding-right: 17.5vw;
        }

        @media only screen and (max-width: $breakpoint3) {
            padding-right: 12.5vw;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        height: 25rem;
        border-radius: 10%;
        border: 4px solid $color-primary;
        margin-right: 10rem;
        align-self: flex-start;
    }

    &__text {
        font-size: 1.6rem;
        word-spacing: 2px;
        width: 25vw;
        margin-bottom: 5vh;
        animation: fadeInUp2 1.5s ease;
    }

    &__scroll-down {
        width: 3rem;
        align-self: center;
        margin-top: auto;
        animation: fadeInDown 3s ease;    
    }
}


// ABOUT ME SECTION

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-top: 25vh;

    &__header {
        padding-right: 10rem;
    }


    &__box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__text {
        width: 30vw;
        font-size: 1.5rem;
        word-spacing: 2px;
        color: $color-font-secondary;
    }

    &__photo {
        height: 30rem;
        margin-left: 4rem;
        border-radius: .5rem;
        filter: grayscale(1.0);
        transition: .8s all;

        @media only screen and (max-width: $breakpoint1) {
            height: 25rem;
        }

        &:hover {
            filter: grayscale(0);
        }

        &::after {
            content: "Hello";
            display: block;
            height: 30rem;
            width: 10rem;
            position: relative;
            top: 40rem;
            background-color: $color-primary;
        }
    }
}

// WORK SECTION

.work {
    margin-top: 25vh;

    display: flex;
    flex-direction: column;

    &__header {
        align-self: flex-end;
        padding-right: 0;
        padding-left: 10rem;
        margin-bottom: 5rem;
    }

    &__languages {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        padding: 5rem;
        width: 60vw;

        @media only screen and (max-width: $breakpoint2) {
            width: 80vw;
        }

        @media only screen and (max-width: $breakpoint3) {
            width: 70vw;
            display: grid;
            grid-template-columns: repeat(3, fr);
            grid-template-rows: repeat(2, fr);
        }

        &__icon {

            &-box {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__text {
                font-family: 'Roboto Mono', monospace;;
                margin-top: 1.2rem;
                font-size: 1.4rem;  
            }
        }
    }
}

// CONTACT SECTION

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__header {
        padding-right: 10rem;
    }
    margin-top: 25vh;
}

// FOOTER

.footer {
    margin-top: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__note {
        color: $color-primary;
        font-family: 'Roboto Mono', monospace;
    };
}