// VARIABLES

$color-bg: #040721;
$color-bg-2: #0c135d;
$color-font-primary: #eee;
$color-font-secondary: #d5d5d5;
$color-primary: #7accff;
$color-primary-faded: #bee6ff;

$breakpoint1: 1400px;
$breakpoint2: 1100px;
$breakpoint3: 875px;
$breakpoint4: 725px;
$breakpoint5: 600px;
$breakpoint6: 470px;
$breakpoint7: 375px;
