// GLOBAL RESET
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// VARIABLES

$color-bg: #060a30;
$color-bg-2: #0c135d;
$color-font-primary: #eee;
$color-primary: #7accff;
$color-primary-faded: #bee6ff;

$breakpoint1: 1400px;
$breakpoint2: 1100px;
$breakpoint3: 875px;
$breakpoint4: 725px;
$breakpoint5: 600px;
$breakpoint6: 470px;
$breakpoint7: 375px;

// FONTS

/*
font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

// ANIMATIONS

@keyframes dropdown {
    0% {
        transform: translateY(-100rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        transform: translatex(-100rem);
    }
    100% {
        transform: translatex(0);
    }
}

@keyframes rubberband {
    0% {
        transform: scale3d(1, 1, 1)
    }
    30% {
        transform: scale3d(1.25, 0.75, 1)
    }
    40% {
        transform: scale3d(0.75, 1.25, 1)
    }
    50% {
        transform: scale3d(1.15, 0.85, 1)
    }
    65% {
        transform: scale3d(0.95, 1.05, 1)
    }
    75% {
        transform: scale3d(1.05, 0.95, 1)
    }
    100% {
        transform: scale3d(1, 1, 1)
    }
}

// PAGE LAYOUTS

html {
    font-size: 62.5%; // 1rem = 10px
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: $color-font-primary;
    background-color: $color-primary-faded;
    padding: 5rem;
}

.index {
    &__html {
        @extend html;

        @media only screen and (max-width: $breakpoint4) {
            padding: 2.5rem;
            font-size: 56.25%; // 1rem = 9px
        }  
    
        @media only screen and (max-width: $breakpoint5) {
            padding: 0;
        }
    
        @media only screen and (max-width: $breakpoint7) {
            font-size: 50%; // 1rem = 8px
        }  
    }
    
    &__body {
        background-color: $color-bg;
        border-radius: 2rem;
        padding: 0 5vw 0 2vw;
        box-shadow: 1rem 1rem 1rem .5rem rgba(0, 0, 0, .2);
    
        @media only screen and (max-width: $breakpoint4) {
            padding-bottom: 5vh;
        }
    
        @media only screen and (max-width: $breakpoint5) {
            border-radius: 0;
        }
    
        @media only screen and (max-width: $breakpoint7) {
            padding-left: 0;
            padding-right: 2.5vw;
        }  
    }
    
    &__header {
        height: 20vh;
        padding-top: 5vh;
        margin-bottom: 3rem;
    
        @media only screen and (max-width: $breakpoint4) {
            height: 10vh;
            padding-top: 7.5vh;
        }  
    }

    &__main {
        min-height: 65vh; 
        display: flex;
    
        @media only screen and (max-width: $breakpoint4) {
            flex-direction: column-reverse;
            justify-content: space-around;
            min-height: 75vh;
        }
    
        @media only screen and (max-width: $breakpoint5) {
            height: 81.75vh;
        }
    }
}

.contact {
    &__body {
        background-color: $color-bg;
        border-radius: 2rem;
        padding: 0 5vw 0 2vw;
        box-shadow: 1rem 1rem 1rem .5rem rgba(0, 0, 0, .2);
    }

    &__header {
        height: 10vh;
        padding-top: 5vh;
        margin-bottom: 3rem;
    }

    &__main {
        min-height: 75vh; 
        display: flex;
        flex-direction: row;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-content: center;

    @media only screen and (max-width: $breakpoint5) {
        display: block;
    }

    &__logo {
        height: 6rem;
    }

    &__item {
        list-style: none;
    }

    &__list {
        display: flex;
        align-items: center;

        @media only screen and (max-width: $breakpoint5) {
            justify-content: space-around;
        }
    }

    &__link:visited,
    &__link {
        color: $color-font-primary;
        border-bottom: 2px solid $color-bg;
        text-decoration: none;
        font-size: 1.2rem;
        font-family: 'Roboto Mono', monospace;
        padding-bottom: .5rem;
        margin-right: 2rem;
        transition: .2s all;

        @media only screen and (max-width: $breakpoint5) {
            margin-right: 0;
        }
    }

    &__link:hover,
    &__link:active {
        border-bottom: 2px solid $color-primary;
    }
}

.hero {
    margin-left: 15vw;

    @media only screen and (max-width: $breakpoint1) {
        margin-left: 10vw;
    }

    @media only screen and (max-width: $breakpoint3) {
        margin-left: 7.5vw;
    }

    @media only screen and (max-width: $breakpoint4) {
        margin-left: 10vw;
    }  

    @media only screen and (max-width: $breakpoint5) {
        margin-left: 15vw;
    }  

    &__title {
        font-size: 4rem;

        &--name {
            color: $color-primary;
        }
    }

    &__sub-title {
        font-size: 4rem;
        margin-bottom: 5rem;
    }

    &__dev {
        font-family: 'Dancing Script', cursive;
        font-size: 6rem;
        border-bottom: 4px solid $color-primary;
        padding-right: 25vw;

        @media only screen and (max-width: $breakpoint2) {
            padding-right: 17.5vw;
        }

        @media only screen and (max-width: $breakpoint3) {
            padding-right: 10vw;
        }

        @media only screen and (max-width: $breakpoint5) {
            padding-right: 2.5vw;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        height: 25rem;
        border-radius: 10%;
        border: 4px solid $color-primary;
        margin-right: 10rem;
        align-self: flex-start;
    }

    &__text {
        font-size: 1.4rem;
        width: 35vw;
        column-count: 2;
        column-gap: 2rem;
        margin-bottom: 5vh;

        @media only screen and (max-width: $breakpoint1) {
            width: 40vw;
        }

        @media only screen and (max-width: $breakpoint2) {
            column-count: 1;
            font-size: 1.2rem;
        }

        @media only screen and (max-width: $breakpoint3) {
            font-size: 1.2rem;
        }

        @media only screen and (max-width: $breakpoint4) {
            width: 50vw;
        }

        @media only screen and (max-width: $breakpoint6) {
            width: 60vw;
        }
    }
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;

    align-self: flex-end;

    position: relative;     // Move up from bottom
    bottom: 7.5vh;

    animation: dropdown 1.5s cubic-bezier(0.34, 1.56, 0.64, 1);

    @media only screen and (max-width: $breakpoint4) {
        justify-content: center;
        flex-direction: row;
        align-self: flex-end;
        margin-left: 7.5vw;
        margin-top: 5vh;
        
        animation: moveInRight 1.5s cubic-bezier(0.34, 1.26, 0.64, 1);;
        bottom: 0;
    }

    @media only screen and (max-width: $breakpoint5) {
        margin-right: 2.5vw;
    }

    &__box {
        @media only screen and (max-width: $breakpoint4) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__text {
        font-size: 1.4rem;
        font-weight: 500;
        transform: rotate(90deg);
        margin-bottom: 6rem;

        @media only screen and (max-width: $breakpoint4) {
            transform: rotate(0);
            margin-bottom: 0;
        }
    }

    &__item {
        list-style: none;
        margin-bottom: 2rem;

        @media only screen and (max-width: $breakpoint4) {
            margin-bottom: 0;
            margin-left: 2rem;
        }    
    }

    &__icon {
        height: 4rem;
    }
}

.contact__section {
    display: block;
    flex: 1;

    &__box {
        display: flex;
    }

    &__form-box {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        padding: 0 5vw;
    }

    &__header {

        margin-bottom: 2rem;
        margin-top: 5vh;

        & > div {
            display: inline-block;
            color: $color-primary;
            font-size: 5rem;
            font-weight: bold;
        }

        &--margin {
            margin-right: 1rem;
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 3rem;
    }

    &__form {
        width: 100%;
    }

    &__map {
        flex: 3;
    }
}

// COMPONENTS

.btn {
    outline: none;
    border: 2px solid $color-primary-faded;
    background-color: $color-primary-faded;
    color: $color-bg;
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
    border-radius: .8rem;
    margin-right: 3rem;
    transition: .3s all;
    animation: fadein 3s ease;

    @media only screen and (max-width: $breakpoint5) {
        padding: 1rem 2rem;
    }

    @media only screen and (max-width: $breakpoint7) {
        margin-right: 1.5rem;
        padding: .8rem 1.6rem;
    }  

    &:hover {
        cursor: pointer;
        transform: translateY(-3px);
    }
}

.btn-alt {
    @extend .btn;
    border: 2px solid $color-primary-faded;
    background-color: $color-bg;
    color: $color-primary-faded;

    &:hover {
        color: $color-bg;
        background-color: $color-primary-faded;
    }
}

.drop-in {
    display: inline-block;
    animation: dropdown .5s ease-out;

    &--2 {
        animation: dropdown .7s ease-out;
        display: inline-block;
    }

    &--3 {
        animation: dropdown .9s ease-out;
        display: inline-block;
    }

    &--4 {
        animation: dropdown 1.1s ease-out;
        display: inline-block;
    }
}

.hl {
    color: $color-primary;
    font-weight: bold;
    margin-right: .5rem;
}

.resume {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    margin-right: -2rem;
}

.form {
    display: flex;
    flex-direction: column;

    &__label {
        visibility: hidden;
        width: 0;
    }

    &__input,
    &__textarea {
        display: block;
        padding: 1rem;
        background-color: $color-primary-faded;
        color: $color-bg;
        border-radius: .3rem;
        font-size: 1.2rem;
        outline: none;
        border: none;

        &::placeholder {
            color: $color-bg;
        }

        &:invalid {
            color: orangered;
        }

        &:valid {
            color: $color-bg;
        }
    }

    &__textarea {
        resize: vertical;
    }

    &__submit {
        margin-top: 2rem;
        padding: .5rem;
        width: 4vw;
        align-self: flex-end;
        background-color: $color-bg;
        outline: none;
        color: $color-primary;
        border: 1px solid $color-primary;
        border-radius: .3rem;
    }
}

// ID ELEMENTS

#subject {
    margin-bottom: 1rem;
}

#message {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}